
.profileInfo {
    background-color: rgba(255, 233, 88, 0.6);
    margin: 5px 0px;
    color: var(--color-black); /* global.scss for the color */
}

.profileImage {
    border-radius: 30rem;
    max-width: 75%;
}

.alignContent {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}